*{
    -mfx-purple:-fx-base-color-focus;
    -mfx-main: -fx-base-color-focus;
}

.root {
    -fx-background-image: url("../resources/Pregunta2_FONDO.jpg"); /* Ruta de la imagen de fondo */
    -fx-background-size: cover; /* Ajustar la imagen para cubrir el área */
    -fx-background-position: center center; /* Centrar la imagen */
}

.mfx-button{
    -fx-font-family: 'Bree Serif';
    -fx-font-size: 16px;
    -fx-font-weight: bold;
    -fx-text-fill: #B3821A; /* Texto negro */
    -fx-background-color: FFD54F; /* Color amarillo similar al de Preguntados */
    -fx-background-radius: 15px;
    -fx-border-radius: 15px;
    -fx-padding: 10 20 10 20;
}

.mfx-button:hover {
    -fx-background-color: #E5AE25  ; /* Color amarillo más claro al pasar el ratón */
    -fx-background-radius: 15px;
    -fx-border-radius: 15px;
    -fx-padding: 10 20 10 20;
}

.translucent-brown-vbox {
    -fx-background-color: rgba(243, 203, 102, 0.5); /* Color verde pastel cálido translúcido */
    -fx-background-radius: 10px;
    -fx-padding: 15px;
    -fx-border-radius: 10px;
    -fx-border-color: rgba(179, 130, 26, 0.8); /* Color de borde verde pastel más oscuro */
    -fx-border-width: 5px;
}

.mfx-label {
    -fx-background-color: transparent; /* Color de fondo transparente */
    -fx-border-color: transparent; /* Color del borde transparente */
    -fx-text-fill: #B3821A; /* Color del texto */
    -fx-padding: 0px; /* Ajustar según sea necesario */
    -fx-font-family: 'Bree Serif';
    -fx-font-size: 20px;
    -fx-font-weight: bold;
    -fx-text-fiil-position: center center; /* Centrar la imagen */

}

.mfx-label-tittle {
    -fx-background-color: transparent; /* Color de fondo transparente */
    -fx-border-color: transparent; /* Color del borde transparente */
    -fx-text-fill: #B3821A; /* Color del texto */
    -fx-padding: 0px; /* Ajustar según sea necesario */
    -fx-font-family: 'Bree Serif';
    -fx-font-size: 40px;
    -fx-font-weight: bold;
    -fx-text-fiil-position: center center; /* Centrar la imagen */

}

.mfx-label-small {
    -fx-background-color: transparent; /* Color de fondo transparente */
    -fx-border-color: transparent; /* Color del borde transparente */
    -fx-text-fill: #B3821A; /* Color del texto */
    -fx-padding: 0px; /* Ajustar según sea necesario */
    -fx-font-family: 'Bree Serif';
    -fx-font-size: 15px;
    -fx-font-weight: bold;
    -fx-text-fiil-position: center center; /* Centrar la imagen */
}

.mfx-transparent-textarea {
    -fx-text-fill: #B3821A; /* Color del texto */
    -fx-font-family: 'Bree Serif';
    -fx-font-size: 15px;
    -fx-font-weight: bold;
    -fx-background-color: transparent; /* Color de fondo transparente */
    -fx-border-color: transparent; /* Color del borde transparente */
    -fx-text-alignment: justify;
}

.mfx-textfield {
    -fx-background-color: #FFFDE7; /* Fondo blanco */
    -fx-border-color: white; /* Color del borde */
    -fx-border-width: 3px; /* Ancho del borde */
    -fx-border-radius: 7px; /* Radio de borde */
    -fx-padding: 5px; /* Relleno interno */
    -fx-font-family: 'Bree Serif'; /* Fuente */
    -fx-font-size: 16px; /* Tamaño de fuente */
    -fx-text-fill: #333333; /* Color del texto */
}

.mfx-textfield:focused {
    -fx-background-color: #FFFACD; /* Fondo amarillo claro cuando está enfocado */
    -fx-border-color: #FFD700; /* Color del borde cuando está enfocado */
}

.mfx-textfield:hover {
    -fx-border-color: #B3821A; /* Color del borde cuando se pasa el ratón por encima */
}

.cycle-toggle-node {
    -fx-background-color: #cccccc;
    -fx-border-color: #333333;
    -fx-border-width: 2;
    -fx-padding: 10px;
    -fx-background-radius: 5px;
    -fx-border-radius: 5px;
    -fx-cursor: hand;
}

.cycle-toggle-node[state="state1"] {
    -fx-background-color: #ff0000; /* Rojo */
}

.cycle-toggle-node[state="state2"] {
    -fx-background-color: #00ff00; /* Verde */
}